/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #292b2d;
}

/* Header styling */
header {
    /* background-color: #00d9a3; */
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* Content styling */
.content,
.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Profile picture styling */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid #292b2d;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Name styling */
.content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.nim {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

/* Button styling */
.btn {
    background-color: #4a5eff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3749c1;
}